.metrics {
  text-align: center;
  position: relative;
  &__header {
    max-width: 608px;
    width: 100%;
    margin: 0 auto 86px auto;
  }
  &__title {
    margin-bottom: 32px;
  }
  &__title-accent {
    color: $accent;
  }
  &__list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 56px;
  }
  &__item {
    width: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
  }
  &__item-title {
    @include GoogleSans-700;
    font-size: 24px;
    text-align: center;
  }
  &__item-subtitle {
    @include GoogleSans-400;
    font-size: 16px;
    text-align: center;
  }
  &__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &__cards {
    display: flex;
    justify-content: center;
    gap: 24px;
  }

}

.metric-card {
  position: relative;


  &.blur-plate {
    padding: 12px;

    &::after {
      border-radius: 50%;
    }
  }

  &--upload,
  &--latency {
    max-width: 260px;
    width: 100%;
  }

  &--download {
    max-width: 418px;
    width: 100%;
  }


  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    width: 60px;
    height: 60px;
  }

  &__icon--download.blur-plate {
    width: 72px;
    height: 72px;
  }

  &__info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__label {
    @include GoogleSans-700;
    color: $light;
    font-size: 24px;
    margin-bottom: 6px;

    &--download {
      font-size: 32px;
    }
  }


  &__value {
    @include GoogleSans-700;
    font-size: 24px;
    color: $accent;
    margin-bottom: 2px;
    text-align: center;
    &--download {
      font-size: 32px;
    }
  }


  &__note {
    @include GoogleSans-400;
    font-size: 16px;
    color: $light;
    text-align: center;
  }
}

