.app-card {
    width: 100%;
    height: 100%;

    &__subtitle {
        font-size: 24px;
        font-weight: 700;
        margin-bottom: 24px;
        letter-spacing: normal;
    }

    &__links {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;
    }

    &__link {
        width: 100%;
        padding: 11px 16px;
        justify-content: center;
        gap: 10px;
        border-radius: 16px;
        background-color: $accent;
        outline-offset: 6px;
        transition: box-shadow 0.3s, outline 0.3s, background-color 0.3s;

        &:hover {
            box-shadow: 0 0 32px $accent-opacity-60;
        }

        &:focus {
            outline: 1px solid $accent;
        }

        &:active {
            background-color: $accent-900;
        }
    }
}

@media(max-width:576px) {
    .app-card {
        &__links {
            flex-wrap: wrap;
        }

        &__link {
            gap: 13px;
        }

        &__subtitle {
            font-size: 22px;
            margin-bottom: 16px;
        }

        &__icon {
            flex-shrink: 0;
        }
    }
}