html[dir="rtl"] {
  .cookie {
    &__cookie-img {
      margin-right: 0;
      margin-left: 12px;
    }
    &__content {
      margin-left: auto;
      margin-right: 0;
      padding-left: 10px;
      padding-right: 0;
    }
    &__actions {
      max-width: 142px;
      width: 100%;
    }
    &__accept {
      max-width: 90px;
      width: 100%;
    }
  }
  @media (max-width: 992px) {
    .cookie {
      &__content {
        padding-left: 64px;
      }
    }
  }
  @media (max-width: 576px) {
    .cookie {
      &__content {
        padding-left: 32px;
      }
      &__accept {
        max-width: 100%;
      }
      &__text {
        text-wrap: balance;
      }
    }
  }
 @media (max-width: 365px)  {
  .cookie {
    &__content {
      padding-left: 0;
    }
    &__actions {
      max-width: 100%;
    }
    &__accept {
      max-width: 50%;
    }
  }
 }
}