@import "reset";
@import "vars";
@import "global";


@import "./index/metrics";
@import "./index/plan";
@import "./global/badges/badge-popular";
@import "./global/badges/badge-discount";
@import "./global/plan-card";
@import "./index/faq";
@import "./index/ready";
@import "./index/indexRtl";

