.badge-popular {
    font-size: 14px;
    background-color: $accent;
    font-weight: 700;
    padding: 6px 14px;
    color: $dark;
    border-radius: 10px;
    box-shadow: 0 0 32px $accent-opacity-60;
}