.breadcrumbs {
  &__list {
    display: flex;
    align-items: center;
  }

  &__item {
    padding-right: 32px;
    position: relative;

    &::after {
      position: absolute;
      content: '';
      background-image: url('../images/legal/chevron-breadcrumbs.svg');
      width: 16px;
      height: 16px;
      right: 8px;
      top: 50%;
      transform: translateY(-50%);
    }

    &:last-child {
      padding-right: 0;

      &::after {
        display: none;
      }
    }
  }

  &__link {
    position: relative;
    transition: all .3s;
    padding-bottom: 1px;

    &:hover {
      color: $accent;
    }

    &:active {
      color: $accent;

      &::before {
        position: absolute;
        content: '';
        width: 100%;
        height: 1px;
        background-color: $accent;
        left: 0;
        bottom: 0;
      }
    }

    &:focus {
      filter: drop-shadow($accent 3px 3px 10px);
    }
  }
}

@media(max-width: 576px) {
  .breadcrumbs {
    &__item {
      padding-right: 22px;

      &::after {
        width: 14px;
        height: 14px;
        right: 4px;
      }
    }

    &__link {
      font-size: 14px;
    }
  }
}